.card {
  margin: 15px;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.7);
  border-radius: 10px;
}

.card img {
  height: 100%;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.info-box {
  padding: 10px;
}

button {
  border: none;
  background-color: #000133;
  color: white;
  height: 38px;
  width: 110px;
  font-weight: 700;
  display: table-cell;
  vertical-align: center;
  border-radius: 10px;
  cursor: pointer;
}
